body {
    font-family: Arial, sans-serif;
    background-image: url(/expense_tracker/HD-wallpaper-beautiful-scenery-nature-pier-in-dark-background-dark.jpg);
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
}

.login-container {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus,
button:focus {
    outline: none;
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
